/* videotape styles fix fullscreen */
:-webkit-full-screen[vidtapeorigprops]{
	width: 100% !important;
	height: 100% !important;
	position: relative !important;
	top: auto !important;
	left: auto !important;
}

:fullscreen[vidtapeorigprops]{
	width: 100% !important;
	height: 100% !important;
	position: relative !important;
	top: auto !important;
	left: auto !important;
}

[fullscreen] [vidtapeorigprops]{
	width: 100% !important;
	height: 100% !important;
	position: relative !important;
	top: auto !important;
	left: auto !important;
}
